.header {
	background: -webkit-linear-gradient(top, #860000, #5e0000);
	padding: 10px;
	display: flex;
	justify-content: space-between;
}
#title a {
	color: white;
	text-decoration: none;
}
#title h1 {
	margin: 0;
	display: inline;
}
#title span {
	color: #FFC72C;
}
#icon {
	text-align: right;
}